<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
</head>
<body>
  <p>Hello, {{userName}}!</p>
  <p>This is a dynamic email content example.</p>
  {{!-- <img src="../email-template/animal.jpg"> --}}
  <img height="600" width="600" src="https://app.taskopad.com/uploads/1ae11930-94c2-11ee-ba65-7113b8a6541c/1701927189060">

</body>
</html>